.form {
  display: flex;
  align-items: unset;
  gap: 12px;
}

.controls {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex: 1;
}

.results {
}

.card {
  margin-top: 24px;
}

.alert {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  & > div {
    flex: 1;
    margin: 0 auto;
  }
}
